<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>模板学习</title>
</head>
<body>
    <h1>模板语法的学习</h1>

    <p>{{ n1 }}</p>
    <p>{{ n2 }}</p>

    {% for item in n2 %}
        <p>{{ item }}</p>
    {% endfor %}

    <p>{% for item in n2 %}{{ item }} {% endfor %}</p>

    <p>{{ n3 }} {{ n3.name }} {{ n3.salary }} {{ n3.role }}</p>
    <ul>
        <li>name = {{ n3.name }}</li>
        <li>salary = {{ n3.salary }}</li>
        <li>role = {{ n3.role }}</li>
    </ul>

    <!-- n4 用户列表循环，位置在这里！ -->
    {% for u in n4 %}
        <p>{{ u.name }} {{ u.salary }} {{ u.role }}</p>
    {% endfor %}

    <h2>{{ n5 }}</h2>
    <h2>{{ n5 }}</h2>

</body>
</html>
